
<div class="modal" id="loader">

</div>

<div class="search-field">
  <%= form_tag(google_path, :method => "get" ) do %>

    <div class="location-start">
      <%= label_tag "From" %>
      <%= text_field_tag :start_location, params[:start_location], class: "input-field", id: "autocomplete", placeholder: "Start location", type:"text" %>

        <button type="button" name="button" class='get-location-data' class="location-button"><%= image_tag "location.svg" %></button>
        <%= image_tag "http://i.stack.imgur.com/FhHRx.gif", class: 'location-loader1' %>
    </div>

    <div class="location-end">
      <%= label_tag "To" %>
      <%= text_field_tag :end_location, params[:end_location], class: "input-field", id: "autocomplete2", placeholder: "Destination", type:"text" %>

        <button type="button" name="button" class='get-location-data' class="location-button"><%= image_tag "location.svg" %></button>
        <%= image_tag "http://i.stack.imgur.com/FhHRx.gif", class: 'location-loader2' %>
    </div>


    <%= submit_tag "Search", class: "submit"%>

   <% end %>

<div class="welcome-message">
  <%= image_tag "map.svg" %>
</div>

</div>
<p id="total"></p>

<div class="map-and-filter">
  <div class="filters">
  	<form>
  		<div class="filter-criteria">
  			<h3>Capacity</h3>
  			<h5>
          <label><input type="checkbox" name="capacity" value="2">2</label>
          <label><input type="checkbox" name="capacity" value="4">4</label>
          <label><input type="checkbox" name="capacity" value="6">6</label>
        </h5>
  		</div>
  	</form>
  </div>
  <div id="map" style="display: none"></div>
</div>


<div class="result" id="div_result">

</div>
<button type="button" id="streetview_button" name="button" onclick="showstreetview()" style="display:none">Have a look at destination</button>
<iframe id="streetview_iframe"
style="display:none"
  width="100%"
  height="250">
</iframe>
