
<div class="search-field">
  <%= form_tag(google_path, :method => "get" ) do %>
    <h2>Start location</h2>
    <p>
      <%= text_field_tag :start_location, params[:start_location], class: "input-field", id: "autocomplete", placeholder: "Enter your address", type:"text" %>
      <button type="button" name="button" id='get-location-data'>Get Location</button>
    </p>

    <h2>Destination</h2>
    <p>
      <%= text_field_tag :end_location, params[:end_location], class: "input-field", id: "autocomplete2", placeholder: "Enter your address", type:"text" %>
      <button type="button" name="button" id='get-location-data2'>Get Location</button>
    </p>

    <p><%= submit_tag "Run Baby, RUN!!!", class: "submit"%></p>

    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>
  <% end %>
</div>

<div id="map" style="display: none"></div>

<% if @parsed_taxi_fare_response %>
  <div class="results">
    <% @parsed_taxi_fare_response[:uber].each do |option| %>
      <h3><%= checktype(option["type"])  %></h3>
      <p><%= option["fare"]  %>  <%= option["currency"] %></p>
      <p>Travel time: <%= option["duration"]/60 %> minutes</p>
    <% end %>
    <% @parsed_taxi_fare_response[:lyft].each do |option| %>
      <h3><%= option["type"]  %></h3>
      <p><%= option["fare"]  %>  <%= option["currency"] %></p>
      <p>Travel time: <%= option["duration"]/60 %> minutes</p>
    <% end %>
  </div>

  <!-- <button type="button" name="button">Show destination</button> -->

<% end %>
