<p>Google</p>

<div class="search-field">
  <%= form_tag(google_path, :method => "get" ) do %>
    <h2>Start location</h2>
    <p>
      <%= text_field_tag :start_location, params[:start_location], class: "input-field", id: "autocomplete", placeholder: "Enter your address", onFocus: "geolocate()", type:"text" %>
      <button type="button" name="button" id='get-location-data'>Get Location</button>
    </p>

    <h2>Destination</h2>
    <p>
      <%= text_field_tag :end_location, params[:end_location], class: "input-field", id: "autocomplete2", placeholder: "Enter your address", onFocus: "geolocate()", type:"text" %>
      <button type="button" name="button" id='get-location-data2'>Get Location</button>
    </p>

    <p><%= submit_tag "Run Baby, RUN!!!" %></p>
  <% end %>

</div>

<% if @parsed_taxi_fare_response %>
  <div class="results">
    <% @parsed_taxi_fare_response[:uber].each do |option| %>
      <h3><%= option["type"]  %></h3>
      <p><%= option["fare"]  %>  <%= option["currency"] %></p>
      <p>Travel time: <%= option["duration"]/60 %> minutes</p>
    <% end %>

    <% @parsed_taxi_fare_response[:lyft].each do |option| %>
      <h3><%= option["type"]  %></h3>
      <p><%= option["fare"]  %>  <%= option["currency"] %></p>
      <p>Travel time: <%= option["duration"]/60 %> minutes</p>
    <% end %>
  </div>
<% end %>


<script>

  var locationButton = document.getElementById('get-location-data')
  locationButton.addEventListener('click', function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
          myposition = position
         var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
          };

        response = $.ajax({
          url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+pos.lat+', '+pos.lng+'&key=AIzaSyDxHtxeT7TcaPqz8y2tPRWbqIwB9ROdZfk',
          method: 'GET',
          dataType: 'json'
        }).done(function(data) {
          document.getElementById('autocomplete').value = response.responseJSON.results[0].formatted_address
        })
      })
    }
  })

  var locationButton = document.getElementById('get-location-data2')
  locationButton.addEventListener('click', function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
          myposition = position
         var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        response = $.ajax({
          url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+pos.lat+', '+pos.lng+'&key=AIzaSyDxHtxeT7TcaPqz8y2tPRWbqIwB9ROdZfk',
          method: 'GET',
          dataType: 'json'
        }).done(function(data) {
          document.getElementById('autocomplete2').value = response.responseJSON.results[0].formatted_address
        })
      })
    }
  })

  var placeSearch, autocomplete, autocomplete2;

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.

    autocomplete2 = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete2')),
        {types: ['geocode']});

    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});
  }


  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }


</script>





<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxHtxeT7TcaPqz8y2tPRWbqIwB9ROdZfk&libraries=places&callback=initAutocomplete"
    async defer></script>
