<style media="screen">
div {

}
</style>


<p>Google</p>

  <div class="search-field">
  <%= form_tag(google_path, :method => "get" ) do %>
  <%= text_field_tag :search, params[:search], id: "autocomplete", placeholder: "Enter your address", onFocus: "geolocate()", type:"text" %>
  <%= submit_tag "Search" %>
  <% end %>

  <!-- <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div> -->

  <script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;
        var componentForm = {
          street_number: 'short_name',
          route: 'long_name',
          locality: 'long_name',
          administrative_area_level_1: 'short_name',
          country: 'long_name',
          postal_code: 'short_name'
        };

        function initAutocomplete() {
          // Create the autocomplete object, restricting the search to geographical
          // location types.
          autocomplete = new google.maps.places.Autocomplete(
              /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
              {types: ['geocode']});

          // When the user selects an address from the dropdown, populate the address
          // fields in the form.
          autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
          // Get the place details from the autocomplete object.
          place = autocomplete.getPlace();
console.log(place)
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
              var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
              });
              autocomplete.setBounds(circle.getBounds());
            });
          }
        }
      </script>




  </div>
<br>
<%= @address %>
<br>
<% if @response_body == nil %>
<h4>Please search the address</h4>
<% else %>
  <div>
  <p>request (JSON)(hash) > ['results'][0]['geometry']['bounds']:</p>
  <% if @response_body['results'][0]["geometry"]['bounds'] != nil %>
  <p><%= @response_body['results'][0]["geometry"]['bounds'] %></p>

  <p>Northeast:</p>
  <p>Lat: <%= @response_body['results'][0]["geometry"]['bounds']['northeast']['lat'] %></p>
  <p>Lng: <%= @response_body['results'][0]["geometry"]['bounds']['northeast']['lng'] %></p>
  <p>southwest:</p>
  <p>Lat: <%= @response_body['results'][0]["geometry"]['bounds']['southwest']['lat'] %></p>
  <p>Lng: <%= @response_body['results'][0]["geometry"]['bounds']['southwest']['lng'] %></p>
<% end %>
  </div>

  <div><% if @response_body['results'][0]["geometry"]['location'] != nil %>
  <p>request (JSON)(hash) > ['results'][0]['geometry']['location']:</p>
  <p><%= @response_body['results'][0]["geometry"]['location'] %></p>
  <p>Location:</p>
  <p>Lat: <%= @response_body['results'][0]["geometry"]['location']['lat'] %></p>
  <p>Lng: <%= @response_body['results'][0]["geometry"]['location']['lng'] %></p>
<% end %>
  </div>

  <div>
    <% unless @response_body['results'][0]["geometry"]['viewport'] == nil  %>
  <p>request (JSON)(hash) > ['results'][0]['geometry']['viewport']:</p>
  <p><%= @response_body['results'][0]["geometry"]['viewport'] %></p>

  <p>Northeast:</p>
  <p>Lat: <%= @response_body['results'][0]["geometry"]['viewport']['northeast']['lat'] %></p>
  <p>Lng: <%= @response_body['results'][0]["geometry"]['viewport']['northeast']['lng'] %></p>
  <p>southwest:</p>
  <p>Lat: <%= @response_body['results'][0]["geometry"]['viewport']['southwest']['lat'] %></p>
  <p>Lng: <%= @response_body['results'][0]["geometry"]['viewport']['southwest']['lng'] %></p>
  <% end %>
  </div>

<h3>Full response:</h3>
<%= @response_body %>

<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxHtxeT7TcaPqz8y2tPRWbqIwB9ROdZfk&libraries=places&callback=initAutocomplete"
    async defer></script>
