<div class="new_session">
	<%= form_for :session, url: sessions_path do |f| %>
		<%= image_tag "/assets/icon_signup_dude.png", class: "icon_dude" %>
		<p>
			<%= f.text_field :email, placeholder: "Email" %>
		</p>

		<p>
			<%= f.password_field :password, placeholder: "password" %>
		</p>

		<%= f.submit 'login', class: "submit" %>
	<% end %>
</div>
