<div class="new_session">

	<%= form_for :session, url: sessions_path do |f| %>

		<h2>Login</h2>

		<%= f.label :email %>
		<%= f.email_field :email, class: 'input-field' %>

		<%= f.label :password %>
		<%= f.password_field :password, class: 'input-field' %>

		<%= link_to "Forgot Password?", new_resets_path, class: 'forget_password' %>

		<p class="error">
			<% if flash[:error] %>
				<%= flash[:error] %>
			<% end %>
		</p>

		<%= f.submit 'login', class: "submit" %>
	<% end %>




</div>
