<h1>Price#show</h1>
<p>Find me in app/views/price/show.html.erb</p>

<% @uber_data["prices"].each do |option| %>
<%= option["localized_display_name"] %> : <%= option["estimate"] %>
<br>
<br>
<% end %>
<% @lyft_data["cost_estimates"].each do |option| %>
<%= option["ride_type"] %> : CA$<%= option["estimated_cost_cents_max"]/100 %>


<br>
<br>
<% end %>
<%= @data %>
