<div class="form">
	<%= form_for @user,  url: { action: "create" } do |f| %>

		<h2>Signup</h2>

		<%= label_tag 'First Name' %>
		<%= f.text_field :first_name, class: 'input-field' %>

		<%= label_tag 'Last Name' %>
		<%= f.text_field :last_name, class: 'input-field' %>

		<%= label_tag 'Email Address' %>
		<%= f.email_field :email, class: 'input-field' %>

		<%= label_tag 'Password' %>
		<%= f.password_field :password, class: 'input-field' %>

		<%= label_tag 'Password Confirmation' %>
		<%= f.password_field :password_confirmation, class: 'input-field' %>


		<%= f.submit 'Sign up', class: "submit" %>

	<% end %>
</div>

<div class="errors">

</div>
