<!-- The video -->

<!-- <iframe id='myVideo' src="https://www.youtube.com/embed/OYeirbs5U9k?autoplay;rel=0&amp;controls=0&amp;showinfo=" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
<!-- Optional: some overlay text to describe the video -->

<div class="content">
  <h1>Heading</h1>
  <p>Lorem ipsum...</p>
	<%= form_for @user, url: user_path do |f| %>
		<%= f.label :first_name %>
		<%= f.text_field :first_name, placeholder: "John" %>
		<%= f.label :last_name %>
		<%= f.text_field :last_name, placeholder: "Appleseed" %>
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "japple@example.com" %>
		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<p>Tick this box if you want to get matched!</p>
		<%= f.label :match %>
		<%= f.check_box :match %>
		<%= f.submit 'Sign up' %>
	<% end %>
  <!-- Use a button to pause/play the video with JavaScript -->
  <!-- <button id="myBtn" onclick="myFunction()">Pause</button>
</div> -->

<!-- <script type="text/javascript">
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("myBtn");

// Pause and play the video, and change the button text
function myFunction() {
		if (video.paused) {
				video.play();
				btn.innerHTML = "Pause";
		} else {
				video.pause();
				btn.innerHTML = "Play";
		}
}
</script> -->
