<div class="form">
	<%= form_for @user,  url: { action: "create" } do |f| %>
		<%= image_tag "/assets/icon_signup_dude.png", class: "icon_dude" %>
		<p>
			<%= f.text_field :first_name, placeholder: "First Name" %>
		</p>

		<p>
			<% if @user.errors.any? %>
				<% @user.errors.full_messages.each do |msg| %>
					<%= msg %>
				<% end %>
			<% end %>
		</p>

		<p>
			<%= f.text_field :last_name, placeholder: "Last Name" %>
		</p>

		<p>
			<%= f.text_field :email, placeholder: "Email" %>
		</p>

		<p>
			<%= f.password_field :password, placeholder: "password" %>
		</p>

		<p>
			<%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
		</p>

		<p>
			<%= f.label :match %>
			<%= f.check_box :match %>
		</p>

		<%= f.submit 'Sign up', class: "submit" %>

	<% end %>
</div>


<!-- The video -->

<!-- <iframe id='myVideo' src="https://www.youtube.com/embed/OYeirbs5U9k?autoplay;rel=0&amp;controls=0&amp;showinfo=" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
<!-- Optional: some overlay text to describe the video -->

  <!-- Use a button to pause/play the video with JavaScript -->
  <!-- <button id="myBtn" onclick="myFunction()">Pause</button>
</div> -->

<!-- <script type="text/javascript">
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("myBtn");

// Pause and play the video, and change the button text
function myFunction() {
		if (video.paused) {
				video.play();
				btn.innerHTML = "Pause";
		} else {
				video.pause();
				btn.innerHTML = "Play";
		}
}
</script> -->
