<h1>Hi <%= @user.first_name.capitalize %>, </h1>

<!-- Display the last 5  -->

	<h1>Favourite Rides</h1>

	<% if show_ride_favs(@user_favourite_rides) != nil && show_ride_favs(@user_favourite_rides) != false %>
	<% count = 0 %>
		<% show_ride_favs(@user_favourite_rides).to_enum.with_index.reverse_each do |trip, i| %>
		 	<ul>
				<% if trip[:start] && trip[:end] %>
		 		<li>Start Location:<%= trip[:start] %> End Location <%= trip[:end] %></li>
				<% end %>
		 	</ul>
			<% count += 1 %>
		<% break if count == 5 %>
		<% end %>
	<% else %>

	<% end %>

<% else %>

<!-- Will display the last 5   -->

<h1>Search History</h1>
<% count = 0 %>
<% current_user.rides.to_enum.with_index.reverse_each do |ride, i| %>
	<ul>
		<li>
		<%= form_tag(user_path, :method => "get" ) do %>
		From: <%= ride.start_address %>
		<br>
		To: <%= ride.end_address %>
		<br>
		<%= ((ride.created_at) - 4.hours).strftime("%a %b %e %T %Y") %>
		<br>
		<%= text_field_tag :start_location, params[:start_location], type: "hidden", value: ride.start_address %>
		<%= text_field_tag :end_location, params[:end_location], type: "hidden", value: ride.end_address %>
		<br>
		<%= submit_tag "Favorite"%>

		<% end %>
		</li>
	</ul>
	<% count += 1 %>
<% break if count == 5 %>
<% end %>
