

<!-- Display the last 5  -->

<div class="container">

<h1>Hi <%= @user.first_name.capitalize %>, </h1>

	<% if show_ride_favs(@user_favourite_rides) != nil && show_ride_favs(@user_favourite_rides) != false %>
	<h3>Favourite Rides</h3>
	<hr>
	<div class="history">


	<% count = 0 %>
		<% show_ride_favs(@user_favourite_rides).to_enum.with_index.reverse_each do |trip, i| %>
		 	<form class="pastRide">
				<% if trip[:start] && trip[:end] %>
			 		<p>From:    <%= trip[:start] %></p>
					<p>To:      <%= trip[:end] %></p>
				<% end %>
		 	</form>
			<% count += 1 %>
		<% break if count == 6 %>
		<% end %>
	<% else %>

	<% end %>

<% else %>
</div>
<!-- Will display the last 5   -->

<h3>Search History</h3>
<hr>
<div class="history">
<% count = 0 %>
<% current_user.rides.to_enum.with_index.reverse_each do |ride, i| %>



		<%= form_tag(user_path, :method => "put", class: 'pastRide' ) do %>

		<h5><%= ((ride.created_at) - 4.hours).strftime("%a %b %e %T %Y") %></h5>


		<p>From: <%= ride.start_address %></p>

		<p>To: <%= ride.end_address %></p>

		<br>

		<%= text_field_tag :start_location, params[:start_location], type: "hidden", value: ride.start_address %>
		<%= text_field_tag :end_location, params[:end_location], type: "hidden", value: ride.end_address %>
		<%= text_field_tag :id, params[:id], type: "hidden", value: ride.id %>
		<br>

		<%= submit_tag "Favorite", id: 'request'%>

		<% end %>


	<% count += 1 %>
<% break if count == 6 %>
<% end %>
</div>
</div>
