<div class="about">

  <div class="about-description">

    <h1>The Scoop Fare Story</h1>
    <p>Hi! we are the creators behind your favourite ride-share booking service, scoopfare. We started this project in early May 2018 as our final project for Bitmaker's Full Stack Web Development Immersive bootcamp. </p>

  </div>


  <div class="about-main">

  <!-- About me Starts  -->

    <div class="about-me">

      <div class="about-me-img">
        <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/photo/1827/extra_large_20180312_110852.jpg" alt="Karen Gamis">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Karen Gamis</h2>
          </div>
          <div class="icons">
            <a href="mailto:kjgamis@gmail.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/kjgamis/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="http://www.kjgamis.com" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Front-End Developer</p>
          <p>
            Turning images to code was my primary responsibility. I worked closely with Sheneille as I implemented her designs into our functioning application, while adding some javascript for functionality. We made sure Scoop Fare looks appealing to our clients.
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/photo/1831/extra_large_20180312_111226.jpg" alt="Hasan Nasem">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Hasan Naseem</h2>
          </div>
          <div class="icons">
            <a href="mailto:hn92@live.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/hasan-naseem-23a47274/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="http://www.hasannaseem.com/" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Back-End & Front-End Developer</p>
          <p>
            I love building and working with APIs! So I built the API that powers up ScoopFare!, I also love to work in a team and I think with a collective brain power and problem-solving skills we can move mountains and sprint forward in all aspects of life. 
          </p>
        </div>
      </div>

    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/photo/1832/extra_large_20180312_110804.jpg" alt="">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Gustavo De Mattos</h2>
          </div>
          <div class="icons">
            <a href="mailto:gdmca@outlook.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/gustavo-mattos-99a02484/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="https://github.com/gusmattos1" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Full Stack Developer</p>
          <p>
            Making this app faster, solving problems and developing features that I had no idea where to start, made me very confident about choosing a developer life. Now I know that nothing is "impossible" for a great group of people working together!
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/photo/1825/extra_large_20180312_111045.jpg" alt="">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Shashike Jayatunge</h2>
          </div>
          <div class="icons">
            <a href="mailto:shashikejayatunge@gmail.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/shashike-jayatunge/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="https://donrestarone.github.io" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Back-End Developer</p>
          <p>
            If memory serves me right, we had a minimum viable product that was able to show prices for a given journey about 3 days into this project. At which point I was almost certain scoopfare's development would be a walk in the park. But boy was I wrong, in software development, the name of the game is 'expect the unexpected'. We hit error after error, front end breaking left right and centre; but the band soldiered on to build what we have today, a simple easy to use applet that even your grandmother could use. I am extremely proud of what my team was able to achieve in such a short amount of time, and I would like to thank Yukihiro Matsumoto, Linus Torvalds and David Heinemeier Hansson for it was for their contributions to open-source that allowed us to stand on the shoulders of giants and create Scoopfare.
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://media.licdn.com/dms/image/C4E03AQFxKe1qE08PEw/profile-displayphoto-shrink_800_800/0?e=1534377600&v=beta&t=zEbYcn9UDFuZSnjG2YQ30QVLvcWxDwlEzAPCc-_qxgE" alt="">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Sheneille Patil</h2>
          </div>
          <div class="icons">
            <a href="mailto:sheneillepatil@gmail.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/sheneille-patil-32a58585/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="https://www.sheneillepatil.com" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">UX/UI Designer</p>
          <p>
            My role was to implement the branding and visual design for the app. During this time I worked closely with Karen, providing assets, style sheets and UI specs for development. Personally, it was a great experience working with the ‘ developer team’ 🙂 I learnt a lot from them and it was a thrilling experience to see it all come together!! :D
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->
  </div>

</div>
