<div class="about">

  <div class="about-description">

    <h1>The Scoop Fare Story</h1>
    <p>Hi! We are scoopr dare makers. Five of us collaborated and pitches in.. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labor</p>

  </div>


  <div class="about-main">

  <!-- About me Starts  -->

    <div class="about-me">

      <div class="about-me-img">
        <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/photo/1827/extra_large_20180312_110852.jpg" alt="Karen Gamis">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Karen Gamis</h2>
          </div>
          <div class="icons">
            <a href="mailto:kjgamis@gmail.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/kjgamis/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="https://www.kjgamis.com" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Front-End Developer</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://media.licdn.com/dms/image/C4D03AQFEwM4w-RQWHw/profile-displayphoto-shrink_200_200/0?e=1533772800&v=beta&t=mehveETwNNs6OinD5TsnFBKYCl1R7GBX8WTdNC698TA" alt="Hasan Nasem">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Hasan Naseem</h2>
          </div>
          <div class="icons">
            <a href="mailto:hn92@live.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/hasan-naseem-23a47274/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="http://www.hasannaseem.com/" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Back-End & Front-End Developer</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/photo/1832/extra_large_20180312_110804.jpg" alt="">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Gustavo De Mattos</h2>
          </div>
          <div class="icons">
            <a href="mailto:gdmca@outlook.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/gustavo-mattos-99a02484/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="https://github.com/gusmattos1" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Full Stack Developer</p>
          <p>
            Making this app faster, solving problems and developing features that I had no idea where to start, made me very confident about choosing a developer life. Now I know that nothing is "impossible" for a great group of people working together!
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/photo/1825/extra_large_20180312_111045.jpg" alt="">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Shashike Jayatunge</h2>
          </div>
          <div class="icons">
            <a href="mailto:shashikejayatunge@gmail.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/shashike-jayatunge/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="https://donrestarone.github.io" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">Back-End Developer</p>
          <p>
            If memory serves me right, we had a minimum viable product that was able to show prices for a given journey about 3 days into this project. At which point I was almost certain scoopfare's development would be a walk in the park. But boy was I wrong, in software development, the name of the game is 'expect the unexpected'. We hit error after error, front end breaking left right and centre; but the band soldiered on to what we have today, a simple easy to use applet that even your grandmother could use. I am extremely proud of what my team was able to achieve in such a short amount of time, and I would like to thank Yukihiro Matsumoto, Linus Torvalds and David Heinemeier Hansson for it was for their contributions to open-source that allowed us to stand on the shoulders of giants and create Scoopfare. 
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->

  <!-- About me Starts  -->

    <div class="about-me">
      <div class="about-me-img">
        <img src="https://media.licdn.com/dms/image/C4E03AQFxKe1qE08PEw/profile-displayphoto-shrink_800_800/0?e=1534377600&v=beta&t=zEbYcn9UDFuZSnjG2YQ30QVLvcWxDwlEzAPCc-_qxgE" alt="">
      </div>
      <div class="about-me-detail">
        <div class="about-me-header">
          <div class="name">
            <h2>Sheneille Patil</h2>
          </div>
          <div class="icons">
            <a href="mailto:sheneillepatil@gmail.com" target="_blank"><%= image_tag('mail.svg')%></a>
            <a href="https://www.linkedin.com/in/sheneille-patil-32a58585/" target="_blank"><%= image_tag('linkedin.svg')%></a>
            <a href="https://www..com" target="_blank"><%= image_tag('website.svg')%></a>
          </div>
        </div>
        <div class="about-me-main">
          <p class="responsibility">UX/UI Designer</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

  <!-- About me ends  -->
  </div>

</div>
