<!DOCTYPE html>
<html>
  <head>
    <title>TaxiFareApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <br>
<nav><%= link_to 'lat, lng',google_path %> | <%= link_to 'map', map_path %> | <%= link_to 'price', price_show_path %> | <%= link_to 'position', position_path %></nav>
<br>
  <body>
    <%= yield %>
  </body>
</html>
