<!DOCTYPE html>
<html>
  <head>
    <title>TaxiFareApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav>
      <%= link_to 'home', root_path %>
      <% if current_user %>
        | <%= current_user.first_name.capitalize + " " + current_user.last_name.capitalize %> | <%= link_to 'log out', sessions_path("current"), method: :delete %>
      <% else %>
        | <%= link_to 'log in', new_sessions_path %> | <%= link_to 'create account', new_user_path %>
      <% end %>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxHtxeT7TcaPqz8y2tPRWbqIwB9ROdZfk&libraries=places&callback=initAutocomplete"
      async defer></script>
</html>
