<!DOCTYPE html>
<html>
  <head>
    <title>TaxiFareApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <br>
  <header>
  <nav><%= link_to 'lat, lng',google_path %> | <%= link_to 'map', map_path %> | <%= link_to 'price', price_show_path %> | <%= link_to 'position', position_path %></nav>
  <br>
    <% if current_user %>
      <%= current_user.first_name.capitalize + " " + current_user.last_name.capitalize %>, <%= link_to 'log out', sessions_path("current"), method: :delete %> 
    <% else %> 
      <%= link_to 'log in', new_sessions_path %>, <%= link_to 'create account', new_user_path %> 
    <% end %> 
  </header>
  <body>
    <%= yield %>
  </body>
</html>
