<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href=<%= image_path('favicon02.png') %>>
    <title>ScoopFare!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <header>
    <nav>
      <div class="hamburger">
        <div id="closebtn" type="button">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>

      <img src="<%= image_path('logo01.png') %>" alt="logo" id="biglogo" class="biglogo">
      <img src="<%= image_path('logo03.png') %>" alt="logo" id="smalllogo" class="smalllogo">


      <div class="menulist">
        <%= link_to 'home', root_path %>
        <% if current_user %>
          <%= link_to "#{current_user.first_name.capitalize + " " + current_user.last_name.capitalize}", user_path %>
          <%= link_to 'log out', sessions_path("current"), method: :delete %>
        <% else %>
          <%= link_to 'log in', new_sessions_path %>
          <%= link_to 'create account', new_user_path %>
        <% end %>
      </div>

    </nav>
  </header>
  </div>
  <body>

  <%= yield %>


  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <footer>

  	<%= link_to 'API documentation', documentations_index_path %>
  	Project Created by: Gustavo, Karen, Hasan &amp; Shashike

  </footer>
  <script>

    // When the user clicks on the button, toggle between hiding and showing the dropdown content

    var nav       = document.querySelector("nav");
    var menulist  = document.querySelector(".menulist");
    var close     = document.querySelector("#closebtn");
    var hamburger = document.querySelector(".hamburger");
    var height    = "1.8em"
    nav.style.height = height;

    //default to measure if/else from
    // nav height is 60px by default

    // nav.style.height = "60px";



    // close.addEventListener("click", function(){
    //   var menuIcon = document.querySelectorAll('.line');
    //   for (i = 0; i < menuIcon.length; i++){
    //     menuIcon[i].classList.toggle("active");
    //   }

    hamburger.addEventListener("click", function(){
      var menuIcon = document.querySelectorAll('.line');
      for (i = 0; i < menuIcon.length; i++){
        menuIcon[i].classList.toggle("active");
      }

      //to close
    	if (menulist.style.display === 'block') {
        // make menulist disappear
        menulist.style.display = "none";

        // nav height decreases
      	nav.style.height = height;

        if (window.innerWidth > 450) {
          document.getElementById('biglogo').style.display="block"

        }else {
          document.getElementById('smalllogo').style.display="block"
        }
       //  for (var i = 0; i < menu.length; i++){
      	// menu[i].style.opacity="0.0";
      	// menu[i].style.marginTop="100px";
      	// };
    	}
    	//to open
    	else {

        // make menulist appear
        menulist.style.display = "block";
        document.getElementById('biglogo').style.display="none"
        document.getElementById('smalllogo').style.display="none"
        // nav height increases
      	nav.style.height = "250px";


    	}
    });
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxHtxeT7TcaPqz8y2tPRWbqIwB9ROdZfk&libraries=places&callback=initAutocomplete"></script>



</html>
